@charset "utf-8";

#primeira {
    background-image: url('../imagens/pessoa-1.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 2000px;
}

.futuro {
    display: inline-block;
}

.cpf {
    background-color: white;
    display: inline-block;
}

.futuro, .cpf {
    border-radius: 10px;
    padding: 20px;
    text-align-last: auto;
}

#catao-01 {
    max-width: 500px;
    max-height: 500px;
}