@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  section, main {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      border: 1px solid red;
  }

  .principal {
    background-image: url(../imagens/pessoa-1.jpg);
  }

  .card-input {
      background-color: white;
      display: ;
      height: 300px;
      width: 250px;
  }